<app-list-page
  [title]="'Clients'"
  [subtitle]="'Manage all clients'"
  [rows]="(clients$ | async) ?? []"
  [columns]="columns"
  [actions]="actions"
  [searchable]="true"
  [clientSideSearch]="false"
  [searchPlaceholder]="'Search clients...'"
  [serverSidePagination]="true"
  [totalItems]="(total$ | async) ?? 0"
  [pageSizeOptions]="[5, 10, 20]"
>
  <ng-template #pageActions>
    <button mat-flat-button color="primary" type="button" (click)="onAddClient()">
      Add Client
    </button>
  </ng-template>
</app-list-page>
