<ng-container *ngIf="client$ | async as client; else loading">
  <!-- Premium Header Section -->
  <header class="client-header">
    <div class="client-header__breadcrumb">
      <a routerLink="/clients" class="breadcrumb-link">
        <mat-icon>arrow_back</mat-icon>
        Back to Clients
      </a>
    </div>

    <div class="client-header__title-section">
      <div class="client-header__avatar">
        {{ client.name.charAt(0).toUpperCase() }}
      </div>
      <div class="client-header__info">
        <h1 class="client-header__name">{{ client.name }}</h1>
        <p class="client-header__meta">
          <mat-icon class="meta-icon">email</mat-icon>
          {{ client.email }}
          <span class="divider">•</span>
          <mat-icon class="meta-icon">phone</mat-icon>
          {{ client.phone }}
        </p>
      </div>
    </div>

    <div class="client-header__actions">
      <button mat-stroked-button type="button">
        <mat-icon>edit</mat-icon>
        Edit Client
      </button>
      <button mat-flat-button color="primary" type="button">
        <mat-icon>add</mat-icon>
        New Invoice
      </button>
    </div>
  </header>

  <!-- Tabs Section -->
  <div class="client-content">
    <mat-tab-group animationDuration="300ms" class="premium-tabs">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">receipt_long</mat-icon>
          Invoices
        </ng-template>
        <ng-template matTabContent>
          <div class="tab-content">
            <app-client-invoices
              *ngIf="currentClientId && currentCompanyId"
              [clientId]="currentClientId"
              [clientName]="(client$ | async)?.name || ''"
              [companyId]="currentCompanyId">
            </app-client-invoices>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">request_quote</mat-icon>
          Estimates
        </ng-template>
        <ng-template matTabContent>
          <div class="tab-content">
            <app-client-estimates
              *ngIf="currentClientId && currentCompanyId"
              [clientId]="currentClientId"
              [clientName]="(client$ | async)?.name || ''"
              [companyId]="currentCompanyId">
            </app-client-estimates>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">location_on</mat-icon>
          Jobsites
        </ng-template>
        <ng-template matTabContent>
          <div class="tab-content">
            <app-client-jobsites
              *ngIf="currentClientId && currentCompanyId"
              [clientId]="currentClientId"
              [clientName]="(client$ | async)?.name || ''"
              [companyId]="currentCompanyId">
            </app-client-jobsites>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">info</mat-icon>
          Details
        </ng-template>
        <ng-template matTabContent>
          <div class="tab-content">
            <app-client-details-info [client]="client"></app-client-details-info>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">history</mat-icon>
          Activity
        </ng-template>
        <ng-template matTabContent>
          <div class="tab-content">
            <app-client-activity
              *ngIf="currentClientId"
              [clientId]="currentClientId">
            </app-client-activity>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading-state">
    <mat-spinner diameter="48"></mat-spinner>
    <p>Loading client details…</p>
  </div>
</ng-template>
